/* Ipad pro */

@media (min-width: 1024px) and (max-width: 1366px) {
    .header {
        padding: 10px 80px;
    }
    .top {
        padding: 50px 80px 40px 80px;
    }
    .books {
        padding: 100px 80px;
    }
    .bottom-section {
        padding: 50px 80px 40px 80px;
    }
    footer {
        padding: 60px 80px;
    }
}


/* tablet and mobile */

@media (max-width: 1023px) {
    .header {
        padding: 10px 40px;
    }
    .top {
        padding: 50px 40px 40px 40px;
    }
    .books {
        padding: 100px 40px;
    }
    .bottom-section {
        padding: 50px 40px 40px 40px;
    }
    footer {
        padding: 40px 40px;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .header {
        padding: 10px 20px;
    }
    .top {
        padding: 50px 20px 40px 20px;
    }
    .books {
        padding: 100px 20px;
    }
    .bottom-section {
        padding: 50px 20px 40px 20px;
    }
    footer {
        padding: 40px 20px;
        text-align: center;
    }
}