/* Ipad pro */

@media (min-width: 1024px) and (max-width: 1366px) {
    .header {
        padding: 10px 80px;
    }
    .top {
        padding: 50px 80px 40px 80px;
    }
    .top-left__content-second {
        padding-top: 0px;
    }
    .books {
        padding: 100px 80px;
    }
    .bottom-section {
        padding: 50px 80px 40px 80px;
    }
    footer {
        padding: 60px 80px;
    }
}


/* tablet and mobile */

@media (max-width: 1023px) {
    .header {
        padding: 10px 40px;
    }
    .top {
        padding: 50px 40px 40px 40px;
    }
    a.how-to-use {
        padding: 0px 10px;
        font-size: 16px;
    }
    .top-left__content-second {
        padding-top: 0px;
    }
    .video__btn {
        width: 16vw;
    }
    .books {
        padding: 100px 40px;
    }
    .bottom-section {
        padding: 50px 40px 40px 40px;
    }
    footer {
        padding: 40px 40px;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .header {
        padding: 10px 20px;
    }
    .header__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .top {
        padding: 50px 20px 40px 20px;
    }
    .top-left video {
        width: 100%;
        height: auto;
    }
    .books {
        padding: 100px 20px;
    }
    .bottom-section {
        padding: 50px 20px 40px 20px;
    }
    footer {
        padding: 40px 20px;
        text-align: center;
    }
}


/* Small Mobile */

@media (max-width: 500px) {
    a.how-to-use {
        padding: 0px 8px;
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    img.google-play {
        width: 100px;
    }
}