    #app {
        overflow: hidden;
        position: relative;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 0 100px;
        background-color: #ffc42f;
    }
    
    .header ul {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
    }
    
    .header li a.download-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        text-align: center;
        line-height: .75;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }
    
    .download-btn {
        border: 2px solid #9a9c9f;
        outline: none;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 175px;
        max-width: 176px;
        padding: 5px 10px;
        background-color: black;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .download-link button {
        cursor: pointer;
    }
    
    .download-btn .store-logo {
        height: 35px;
        width: auto;
        margin-right: 10px;
    }
    
    .header li a img {
        display: block;
    }
    
    .store-text {
        opacity: 1;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        text-align: left;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 16px !important;
        line-height: 15px !important;
        margin: 0;
        flex: 0 0 80%;
        white-space: nowrap;
    }
    
    .store-text subtext {
        display: block;
        font-size: 10px;
        letter-spacing: normal;
        font-weight: normal;
    }
    
    .download-link,
    .how-to-use {
        display: inline-block;
        cursor: pointer;
    }
    
    a.how-to-use {
        background: linear-gradient(#401ead, #5e3ccc);
        color: rgb(255, 149, 0) !important;
        margin-left: 20px;
        text-transform: none;
        padding: 0px 20px;
        height: auto;
        text-decoration: none;
        white-space: normal;
        text-align: center;
        line-height: 48px;
        letter-spacing: 0px;
        font-weight: 500;
        font-size: 22px;
        box-shadow: rgb(0 0 0 / 25%) 0px 10px 20px 0px;
        border-radius: 5px;
        transform-origin: 50% 50%;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        border-width: 0px;
        backdrop-filter: none;
        filter: brightness(100%);
    }
    
    .blue-link {
        text-decoration: none;
        color: #401ead;
        margin-left: 20px;
        font-size: 20px;
    }
    
    .top {
        padding: 50px 100px 40px 100px;
        /* background-color: #ff7fe8; */
        /* background-color: #401ead; */
        background-color: var(--primary-color);
        margin-top: 90px;
    }
    
    .top-left {
        padding-top: 0px;
    }
    
    .top-right h2 {
        font-size: 42px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .top-right h3 {
        font-size: 36px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .top-right .mylogo {
        position: relative;
        top: 4px;
        margin-right: 20px;
    }
    
    .top-left p {
        color: var(--white-color);
        line-height: 1.5em;
        letter-spacing: 0px;
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
    }
    
    .top-two-column {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: baseline;
    }
    
    .top-left__content-second {
        /* padding-top: 120px; */
    }
    
    .top-left__content-second p {
        font-size: 20px;
        margin-bottom: 40px;
    }
    /* video */
    
    .row.row-video {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .video-morning,
    .video-afternoon,
    .video-night {
        display: none;
    }
    
    .video-morning.show,
    .video-afternoon.show,
    .video-night.show {
        display: block;
    }
    
    .video {
        position: relative;
        background: url(../img/video_1_thumbnail.png) center center no-repeat;
        background-size: cover;
    }
    
    .video video {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0;
    }
    
    .video--playing video {
        opacity: 1;
    }
    
    .video--playing .video__btn {
        display: none;
    }
    
    .video__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10vw;
        transform: translate(-50%, -50%);
        transition: margin .3s;
    }
    
    .video__btn:hover {
        margin-top: -10px;
    }
    
    .video__btn img {
        display: block;
        width: 100%;
        height: 100%;
    }
    /* Books  */
    
    .books {
        background-color: var(--primary-color);
        padding: 100px;
    }
    
    .top-books h2 {
        font-size: 40px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .heading-divider {
        height: 1px;
        background-color: #bbb;
        width: 50px;
    }
    
    .list-books {
        margin-top: 50px;
    }
    
    .box-books {
        background-color: transparent;
        background-image: linear-gradient( 180deg, #fff 0%, #fff 100%);
        box-shadow: 8px 12px 60px 0px rgb(0 0 0 / 5%);
        padding: 6%;
        border-radius: 25px;
        height: 100%;
        margin-bottom: 20px;
        position: relative;
        transition: top .5s ease-in-out;
        top: 0;
    }
    
    .box-books:hover {
        top: 50px;
    }
    
    .box-books span {
        color: #0098d8;
        font-size: 24px;
        line-height: 0;
        letter-spacing: 0;
        font-weight: 600;
        margin: 10px 0 32px;
        display: block;
    }
    
    .box-books img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 6px 25px -19px rgb(0 0 0 / 50%);
    }
    
    .content-books {
        text-align: center;
    }
    
    .content-books .title {
        font-size: 28px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.2em;
        color: #3482ff;
    }
    
    .content-books .free {
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
        color: #52c2d8;
    }
    
    .content-books p {
        color: #000;
        line-height: 1.6em;
        letter-spacing: 0px;
        font-size: 16px;
        font-weight: 600;
    }
    
    .space {
        margin-bottom: 30px;
    }
    /*  bottom content */
    
    .bottom-section {
        padding: 50px 100px 40px 100px;
        /* background-color: #5cdb8e; */
        background-color: var(--primary-color);
    }
    
    .bottom_inner h2 {
        font-size: 45px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .bottom_inner p {
        color: var(--white-color);
        line-height: 1.5em;
        letter-spacing: 0px;
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
    }
    /* footer */
    
    footer {
        padding: 60px 100px;
    }
    
    footer h3 {
        color: #000;
        font-size: 16px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.6em;
    }
    
    footer p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.9em;
        color: #000;
    }
    
    footer .link-bottom {
        font-size: 16px;
        font-weight: 500;
        margin-top: 60px;
    }
    
    footer .link-bottom a {
        color: #1bb0ce;
        text-align: left;
        line-height: 1.2em;
        text-decoration: none;
    }
    /* Side Floater */
    
    .share {
        position: fixed;
        z-index: 1000;
        right: 0;
        bottom: 50%;
        width: 70px;
        padding: 18px 6px 0;
        background: #fff;
        border-radius: 20px 0 0 20px;
        transform: translate(0, 50%);
        box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    }
    
    .srOnly {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    
    .share a {
        display: block;
        transition: transform .3s;
    }
    
    .share img {
        display: block;
        padding: 14px 8px;
        max-width: 100%;
    }
    /* other pages */
    
    .content-general {
        padding: 100px 100px 60px 100px;
        color: var(--black-color);
        margin-top: 50px;
    }
    
    .content-general h3 {
        font-size: 22px;
    }
    
    .content-general p {
        font-size: 20px;
    }
    
    .content-general span {
        font-size: 14px;
    }
    
    .content-general strong {
        font-size: 16px;
    }