    #app {
        overflow: hidden;
        position: relative;
    }
    
    .header {
        padding: 10px 100px;
        background: cadetblue;
    }
    
    .top {
        padding: 50px 100px 40px 100px;
        /* background-color: #ff7fe8; */
        background-color: #401ead;
    }
    
    .top-left {
        padding-top: 0px;
    }
    
    .top-right h2 {
        font-size: 45px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .top-right h3 {
        font-size: 38px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .top-left p {
        color: var(--white-color);
        line-height: 1.5em;
        letter-spacing: 0px;
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
    }
    
    .top-left .download-img {
        margin-top: 30px;
    }
    
    .top-left__content-second {
        padding-top: 150px;
    }
    
    .top-left__content-second p {
        font-size: 18px;
    }
    
    .video-morning,
    .video-afternoon,
    .video-night {
        display: none;
    }
    
    .video-morning.show,
    .video-afternoon.show,
    .video-night.show {
        display: block;
    }
    /* Books  */
    
    .books {
        background-color: #401ead;
        padding: 100px;
    }
    
    .top-books h2 {
        font-size: 40px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .heading-divider {
        height: 1px;
        background-color: #bbb;
        width: 50px;
    }
    
    .list-books {
        margin-top: 50px;
    }
    
    .box-books {
        background-color: transparent;
        background-image: linear-gradient( 180deg, #fff 0%, #fff 100%);
        box-shadow: 8px 12px 60px 0px rgb(0 0 0 / 5%);
        padding: 6%;
        border-radius: 25px;
        height: 100%;
        margin-bottom: 20px;
        position: relative;
        transition: top .5s ease-in-out;
        top: 0;
    }
    
    .box-books:hover {
        top: 50px;
    }
    
    .box-books span {
        color: #0098d8;
        font-size: 24px;
        line-height: 0;
        letter-spacing: 0;
        font-weight: 600;
        margin: 10px 0 32px;
        display: block;
    }
    
    .box-books img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 6px 25px -19px rgb(0 0 0 / 50%);
    }
    
    .content-books {
        text-align: center;
    }
    
    .content-books .title {
        font-size: 28px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.2em;
        color: #3482ff;
    }
    
    .content-books .free {
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
        color: #52c2d8;
    }
    
    .content-books p {
        color: #000;
        line-height: 1.6em;
        letter-spacing: 0px;
        font-size: 16px;
        font-weight: 600;
    }
    
    .space {
        margin-bottom: 30px;
    }
    /*  bottom content */
    
    .bottom-section {
        padding: 50px 100px 40px 100px;
        /* background-color: #5cdb8e; */
        background-color: #401ead;
    }
    
    .bottom_inner h2 {
        font-size: 45px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        color: var(--white-color);
    }
    
    .bottom_inner p {
        color: var(--white-color);
        line-height: 1.5em;
        letter-spacing: 0px;
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
    }
    /* footer */
    
    footer {
        padding: 60px 100px;
    }
    
    footer h3 {
        color: #000;
        font-size: 20px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.6em;
    }
    
    footer p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.9em;
        color: #000;
    }
    
    footer .link-bottom {
        font-size: 16px;
        font-weight: 500;
        margin-top: 60px;
    }
    
    footer .link-bottom a {
        color: #1bb0ce;
        text-align: left;
        line-height: 1.2em;
        text-decoration: none;
    }